.AppBar {
    /*margin-top: 3px;*/
}

.header {
    /*background-color: #a0c3e2;*/
    /*padding-top: 2px;*/
    /*padding-bottom: 2px;*/
}

.btn-primary {
    /*background-color: #027dc5;*/
}

.loginLabel {
    /*margin-right: 4px;*/
}

.navbar-nav {
    /*margin-top: 7px;*/
}

.navbar {
    margin-bottom: 0px;
}

.subButton {
    margin-top: 10px;
}

.bodyMain {
    border-right: solid 1px #e7e7e7;
    border-left: solid 1px #e7e7e7;
    height: 100%;
}