# Created by .ignore support plugin (hsz.mobi)
.idea/
lib/
node_modules/
src/main/resources/application.properties
src/main/webapp/resources/components/
src/main/webapp/resources/js/hello.jsx
target/
